# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# dependencies
/node_modules
/frontend/node_modules
/backend/node_modules

# production
/build

# misc
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.vscode
.eslintrc.json
.prettierrc.json
.editorconfig